.button-lg {
    width: 16.6%;
    height: 70px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    background-color: #3077c6;
    border-radius: 8px;
    border: none;
    margin-block-start: -3px;
    margin-inline-end: -3px;
    cursor: pointer;
}