.container {
    width: min(100%, 1440px);
    height: auto;
    margin: 0 auto;
    padding: 80px 104px 30px;
    position: relative;
    background-color: #EAF0F9;
}
.title {
    color: #383838;
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
}
