.modal-list-info {
    height: auto;
    margin-top: 28px;
}

.modal-list-title {
    font-size: 14px;
    margin-bottom: 12px;

}
.modal-age-select {
    padding: 8px 14px 8px 8px;
    border: 1px solid  #3077C6;
    color: #333333;
}